@tailwind base;
@tailwind components;
@tailwind utilities;

/* //TODO: use tailwind */
body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #22c55e, #3b82f6);
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
